DEFINE WARNING_AS_ERROR;
DEFINE ERROR_STOP;
#DEFINE TOGGLE_BOOL;

http {
	listen		63613;
	server_name	localhost;

	log_not_found on;
	log_subrequest on;

	absolute_redirect off;
	chunked_transfer_encoding on;

	server {
		listen 					8080;
		client_max_body_size	500;
		location / {
			root	uber-frosch;
			index	index.html;
		}
	}

	server 8000 {
		client_max_body_size	1000;
		location / {
			alias	uber-frosch/;
		}
	}

	server 1121{
		absolute_redirect;
	}
}
