http { listen 8080;
	root uber-frosch;
	error_page 404 /404.html;
	cgi_exec bonjour.py;
	location /bonjour/lol.html { cgi_exec lol.py }
	location / { root bonjour;
cgi_exec cgi.py;
cgi_interpreter .py /bin/python; }
server 9000 { location /bin {alias uber-frosch;cgi_exec cgi; cgi_interpreter .pl /usr/bin/perl;}}
 }
