http { listen 8080;
#index index.html;
server{
	#keepalive_requests 0;
	root uber-frosch;
	client_header_buffer_size 50;
	dir_listing off;
	#client_max_body_size 5;
	chunked_transfer_encoding off;
	#methods /get post ///delete;
	methods post options;
	#error_page 404 /404.html;
	#cgi_exec *.cgi;
	cgi_interpreter .py /usr/bin/python3;
	default_interpreter on;
	location /client {
		func		client_manager; # This line is equal to the following :;
		#post_func	client_manager;
		#del_func	client_manager;
	}
	location /client-secure {
		func		client_manager;
		not_methods	get;
		alias		uber-frosch/cgi-bin/;
		index		crypt.py;
	}
	location /upload {
		post_func	upload_manager;
	}
	location /lol/ {
		alias uber-frosch;
		index test.html;
		not_methods /std get;
	}
	location /images {  dir_listing on;
		methods /post; }
	location /cgi-bin {
		cgi_exec *.cgi;
	}
 }}
