main {
	margin: auto;
	width: 70vw;
	height: 50vh;
	text-align: center;
}

.border {
	margin-bottom: 10px;
}

.cat {
	width: 150px;
	height: auto;
	margin: auto;
}

.cat > img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

main > h1 {
	font-size: 2rem;
	margin-bottom: 70px;
}

.border-end {
	transform: scaleY(-1)
}
