DEFINE WARNING_AS_ERROR;
#DEFINE ERROR_STOP;

http {
	log all default; # Default. Log it all. Default and all are implied by default, so 'log' is the same;
	log server focused; # Log server errors in focused file. So FATAL ERRORS and 5xx;
						# For only fatal errors : 'log fatal focused';
	log client independant =./client.log;
	log 40x focused;

	root uber-frosch;
	index index.html;
	server 9000 {
		log nothing;
	}
	server 8080 {
		log 1xx 2xx 3xx =success.log independant; # Will log every successful request in a separate file;
		log 4xx 5xx =errors.log independant; # Will log every unsuccessful request in an other;
		log errors =errors.log independant; # Will log 4xx 5xx and fatal errors in an other;
	}
	server 8000 {
		unlog server; # unlog everything server related;
		unlog client independant; # unlog client with independant tag;
		unlog 4xx focused;
	}
}
